@model AbstractSite.ViewModels.NameViewModel

<div class="form-group">
    <label for="notificationName">Name</label>
    <input type="text" class="form-control" id="notificationName" aria-describedby="name" disabled="@Model.disabled" placeholder="@Model.placeHolder">
</div>