@model AbstractSite.ViewModels.SubjectViewModel

<div class="form-group">
    <label for="notificationSubject">Subject</label>
    <input type="text" class="form-control" id="notificationSubject" disabled="@Model.disabled" aria-describedby="subject" placeholder="@Model.placeHolder">
</div>